@model ProvaDevUCDB.Models.Pedido

@{
    ViewData["Title"] = "Delete";
}

<h1>Apagar</h1>

<h3>Tem certeza de que deseja apagar este pedido?</h3>
<div>
    <h4>Pedido</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nome_produto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nome_produto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.valor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.valor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Desconto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.descontoForDisplay)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.data_vencimento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.dateForDisplay)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="id" />
        <input type="submit" value="Apagar" class="btn btn-danger" /> |
        <a asp-action="Index">Voltar à listagem</a>
    </form>
</div>
